<header id="header" class="home-parallax home-fade dark-bg header-inner">
    <div class="color-overlay"></div>
    <div class="container">
        <h1>About us</h1>
        <div class="breadcrumb">
            <a href="#">Home</a> <i class="fa fa-angle-double-right"></i> <a href="#">About us</a>

        </div>
    </div>
</header>
<!-- About Us -->
<section id="about-us" class="section about-us">
    <div class="container">

        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-sm-4">

                    <!-- about-left -->
                    <div class="about-content left">
                        <h4>We're Creative</h4>
                        <p>Lorem adipipsum idolor sit iamet, iconsectetur aisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipitaut voluptas quaerat consectetur.</p>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- about-center -->
                    <figure class="about-content center">
                        <img class="img-responsive center-block" src="assets/images/about-us/center_image.jpg" alt="">
                    </figure>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- about-right -->
                    <div class="about-content right">
                        <h4>We're Friendly</h4>
                        <p>Lorem adipipsum dolor sit amet, consecteturno aisicing elit. Necessitatibus illo vel dolorumsa soluta consectetur doloribus sit. Delectus tenetur odit dicta vitae debitis  susc ipitaut voluptas quaerat dolorum.</p>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- /About Us -->
<!-- Video -->
<section id="video" class="section video-player dark-bg">
    <div class="color-overlay"></div>

    <div class="container" id="video-info">
        <div class="row">
            <div class="col-sm-5">

                <!-- video-left -->
                <div class="video-left">
                    Watch Our<br>Video
                </div>

            </div><!-- col-sm-4 -->

            <div class="col-sm-2">

                <!-- Play Button -->
                <a id="playVideo" href="#" class="btn video-icon">
                    <i class="ion-ios-play-outline"></i>
                </a>

            </div><!-- col-sm-4 -->

            <div class="col-sm-5">

                <!-- video-right -->
                <div class="video-right">
                    Create Your Own Slogan <br>Golden Ratio <br>Here
                </div>

            </div><!-- col-sm-4 -->
        </div><!-- row -->

    </div><!-- container -->

</section>

<div class="container" id="video-container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="ytPlayer" class="embed-responsive embed-responsive-16by9">
                <!--<iframe  class="embed-responsive-item" frameborder="0" title="YouTube video player" type="text/html" src="http://www.youtube.com/embed/w9j3-ghRjBs?enablejsapi=1"></iframe>-->
            </div><!--ytPlayer-->
        </div>
    </div>
</div>

<!-- /Video -->
<!-- Call To Action -->
<div id="cta-2" class="cta-2 text-center">
    <div class="container">
        <span class="cta-text">Want to see more from our works lorem ipsum dolor sit amet? </span>
        <a class="btn btn-default-o" href="portfolio__boxed__3_columns.html">View all</a>
    </div>
</div>
<!-- Call To Action -->
<!-- Team -->
<section id="team" class="section team">
    <div class="container">
        <header class="section-heading">
            <h2>Meet the Team</h2>
            <span>Meet the Reign team</span>
        </header>

        <div class="section-content">
            <div class="row">
                <div class="col-sm-4 lborder">

                    <!-- team-member's-bio -->
                    <div class="team-bio">
                        <figure>
                            <img src="assets/images/team/team-1.jpg" class="img-responsive center-block" alt="">
                        </figure>
                        <div class="team-description">
                            <div class="member-name">Jewel Johan</div>
                            <div class="designation">CEO &amp; Founder</div>
                        </div>


                        <!-- team-member's-social -->
                        <div class="team-social">
                            <ul class="social-block">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>

                    </div><!--/team bio-->

                </div><!-- col-sm-4 -->

                <div class="col-sm-4 lborder rborder">

                    <!-- team-member's-bio -->
                    <div class="team-bio">
                        <figure>
                            <img src="assets/images/team/team-2.jpg" class="img-responsive center-block" alt="">
                        </figure>
                        <div class="team-description">
                            <div class="member-name">Rub Elvy Khanam</div>
                            <div class="designation">Front End Developer</div>
                        </div>

                        <!-- team-member's-social -->
                        <div class="team-social">
                            <ul class="social-block">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div><!--/team bio-->

                </div><!-- col-sm-4 -->

                <div class="col-sm-4 rborder">

                    <!-- team-member's-bio -->
                    <div class="team-bio">
                        <figure>
                            <img src="assets/images/team/team-3.jpg" class="img-responsive center-block" alt="">
                        </figure>
                        <div class="team-description">
                            <div class="member-name">K. Survy</div>
                            <div class="designation">Graphics Designer</div>
                        </div>

                        <!-- team-member's-social -->
                        <div class="team-social">
                            <ul class="social-block">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>

                    </div><!--/team bio-->

                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- Team -->