<header id="header" class="home-parallax home-fade dark-bg header-inner">
    <div class="color-overlay"></div>
    <div class="container">
        <h1>Contact us</h1>
        <div class="breadcrumb">
            <a href="#">Home</a> <i class="fa fa-angle-double-right"></i> <a href="#">Contact us</a>

        </div>
    </div>
</header>
<!-- Contact-us -->
<section id="contact" class="section contact">
    <div class="container">
        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-md-6 col-sm-5">
                    <h5>Feel free to drop us a line!</h5>
                    <form action="php/contact-form.php" class="contact-form" id="contactForm" method="post" name="contactform" role="form">

                        <div class="form-group">
                            <input class="form-control" id="name" name="name" placeholder="Your Name" type="text" required>
                        </div>

                        <div class="form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email Address" type="email" required>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="message" name="massage" placeholder="Type your message here" rows="5" required></textarea>
                        </div>

                        <div id="contactFormResponse"></div>

                        <button id="cfsubmit" type="submit" class="btn btn-dark btn-block contact-submit">Give us a shout</button>

                    </form>
                </div>
                <div class="col-md-6 col-sm-7">
                    <h5>Find us on Google map</h5>
                    <div class="google-map">
                        <div id="map"></div>
                    </div>

                    <div class="row contact-info-wrap">
                        <div class="col-sm-6">
                            <div>
                                <h5>Office Address</h5>
                                <address class="contact-info">
                                    <span>590 Castro St</span><br>
                                    <span>Mountain View</span>,
                                    <span>CA </span> -
                                    <span>94041</span><br>
                                    <span>United States</span>
                                </address>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div>
                                <h5>Contact Information</h5>
                                <div class="contact-info">
                                    Local: ( 33 1) 42 68 53 00<br>
                                    Mobile: ( 33 1) 42 68 53 01<br>
                                    info@themewagon.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact-us -->
<!-- Footer widgets -->
<section id="footer-widgets" class="section footer-widgets dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-text">
                    <h4>About the reign</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eius libero nihil. Fugiat ipsum officia reprehenderit rerum saepe. Assumenda distinctio, voluptatibus. At consectetur cumque enim error laudantium mollitia obcaecati!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-contact">
                    <h4>Contact info</h4>
                    <ul>
                        <li>
                            <i class="ion-home"></i> 13005 Greenville California.
                        </li>
                        <li>
                            <i class="ion-android-call"></i> (303) 674-7750
                        </li>
                        <li>
                            <i class="ion-email"></i> info@yoursite.com
                        </li>
                        <li>
                            <i class="ion-ios-location"></i> Map and Direction
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-recent-posts">
                    <h4>Recent Posts</h4>
                    <ul>
                        <li>
                            <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                            by <a href="#" class="author">Jhon Smith</a>
                        </li>
                        <li>
                            <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                            by <a href="#" class="author">Jhon Smith</a>
                        </li>
                        <li>
                            <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                            by <a href="#" class="author">Jhon Smith</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-gallery">
                    <h4>Photo Gallery</h4>
                    <div class="lightbox-gallery">
                        <a href="assets/images/work/01.jpg">
                            <img src="assets/images/work/01.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/02.jpg">
                            <img src="assets/images/work/02.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/03.jpg">
                            <img src="assets/images/work/03.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/04.jpg">
                            <img src="assets/images/work/04.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/05.jpg">
                            <img src="assets/images/work/05.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/06.jpg">
                            <img src="assets/images/work/06.jpg" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer widgets -->
<!-- footer -->