<div>
    <div id="header" class="header-wrapper home-parallax home-fade dark-bg header-classic @@bgimage">
        <div class="gradient-overlay"></div>
        <div class="header-wrapper-inner">
            <div class="container">

                <div class="intro">
                    <h1>Grow your business, your way.</h1>
                    <p>Keeping a tab on your business has never been this easy.</p>
                    <a href="/pricing" class="btn btn-default-o onPageNav">Our Services</a>
                </div><!-- /.intro -->

            </div><!-- /.container -->

        </div><!-- /.header-wrapper-inner -->
    </div>

    <!-- Call To Action -->
    <div id="cta-2" class="cta-2 text-center clearfix">
        <div class="container">
            <span class="cta-text">The all-in-one ecommerce and marketing platform your practice has been waiting for!</span>
            <a class="btn btn-default-o" href="/pricing">Our Products</a>
        </div>
    </div>
    <!-- Call To Action -->
    <!-- About Us -->
    <section id="about-us" class="section about-us">
        <div class="container">

            <!---->
            <header class="section-heading">
                <h2>About Us</h2>
                <span>Practice Tab was founded in 1772 by Thomas Jefferson</span>
            </header><!-- section-heading -->
            <!---->

            <div class="section-content">
                <div class="row">
                    <div class="col-sm-4">

                        <!-- about-left -->
                        <div class="about-content left">
                            <h4>We're Creative</h4>
                            <p>Lorem adipipsum idolor sit iamet, iconsectetur aisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipitaut voluptas quaerat consectetur.</p>
                        </div>

                    </div><!-- col-sm-4 -->

                    <div class="col-sm-4">

                        <!-- about-center -->
                        <figure class="about-content center">
                            <img class="img-responsive center-block" src="assets/images/about-us/center_image.jpg" alt="">
                        </figure>

                    </div><!-- col-sm-4 -->

                    <div class="col-sm-4">

                        <!-- about-right -->
                        <div class="about-content right">
                            <h4>We're Friendly</h4>
                            <p>Lorem adipipsum dolor sit amet, consecteturno aisicing elit. Necessitatibus illo vel dolorumsa soluta consectetur doloribus sit. Delectus tenetur odit dicta vitae debitis  susc ipitaut voluptas quaerat dolorum.</p>
                        </div>

                    </div><!-- col-sm-4 -->
                </div><!-- row -->
            </div><!-- section-content -->
        </div><!-- container -->
    </section>
    <!-- /About Us -->

    <!-- Call To Action -->
    <div id="cta-1" class="cta-1 clearfix">
        <div class="container">
            <div class="call-to-action">
                <div class="cta-text">Are you excited to start your selling?</div>
                <a class="btn btn-default-o" href="/pricing">Get Started</a>
            </div>
        </div><!-- container -->
    </div>
    <!-- /Call To Action -->

    <!-- Service -->
    <section id="services" class="section services">
        <div class="container">

            <!---->
            <header class="section-heading">
                <h2>Why Practice Tabs</h2>
                <span>Growing your practice is tough. We make it easy.</span>
            </header>
            <!---->

            <div class="section-content">
                <div class="row">
                    <div class="col-sm-4">

                        <!-- service -->
                        <div class="service">
                            <div class="service-icon text-center">
                                <span class="ion-ios-albums-outline"></span>
                            </div>
                            <div class="about-service">
                                <h4 class="text-center">Responsive Design</h4>
                                <p class="text-center">Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.</p>
                            </div>
                        </div>

                    </div><!-- col-sm-4 -->

                    <div class="col-sm-4">

                        <!-- service -->
                        <div class="service">
                            <div class="service-icon text-center">
                                <span class="ion-ios-americanfootball-outline"></span>
                            </div>
                            <div class="about-service">
                                <h4 class="text-center">Brand Identity</h4>
                                <p class="text-center">
                                    Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                                </p>
                            </div>
                        </div>

                    </div><!-- col-sm-4 -->

                    <div class="col-sm-4">

                        <!-- service -->
                        <div class="service">
                            <div class="service-icon text-center">
                                <span class="ion-ios-game-controller-b-outline"></span>
                            </div>
                            <div class="about-service">
                                <h4 class="text-center">Game Development</h4>
                                <p class="text-center">
                                    Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                                </p>
                            </div>
                        </div>

                    </div><!-- col-sm-4 -->
                </div><!-- row -->

                <div class="row secondrow">
                    <div class="col-sm-4">

                        <!-- service -->
                        <div class="service">
                            <div class="service-icon text-center">
                                <span class="ion-ios-lightbulb-outline"></span>
                            </div>
                            <div class="about-service">
                                <h4 class="text-center">Creative Theme</h4>
                                <p class="text-center">Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.</p>
                            </div>
                        </div>

                    </div><!-- col-sm-4 -->

                    <div class="col-sm-4">

                        <!-- service -->
                        <div class="service">
                            <div class="service-icon text-center">
                                <span class="ion-ios-pie-outline"></span>
                            </div>
                            <div class="about-service">
                                <h4 class="text-center">Making Stretagy</h4>
                                <p class="text-center">
                                    Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                                </p>
                            </div>
                        </div>

                    </div><!-- col-sm-4 -->

                    <div class="col-sm-4">

                        <!-- service -->
                        <div class="service last">
                            <div class="service-icon text-center">
                                <span class="ion-ios-cart-outline"></span>
                            </div>
                            <div class="about-service">
                                <h4 class="text-center">Business Solution</h4>
                                <p class="text-center">
                                    Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                                </p>
                            </div>
                        </div>

                    </div><!-- col-sm-4 -->
                </div><!-- row -->
            </div><!-- section-content -->
        </div><!-- container -->
    </section>
    <!-- Service -->
    <!-- Clients -->
    <div id="clients" class="section clients overlay-1">
        <div class="container">
            <div class="section-content">
                <div id="client-carousel" class="owl-carousel">

                    <div class="client-image item">
                        <img class="img-responsive center-block" src="./assets/images/clients/c_logo01.png" alt="">
                    </div>

                    <div class="client-image item">
                        <img class="img-responsive center-block" src="./assets/images/clients/c_logo02.png" alt="">
                    </div>

                    <div class="client-image item">
                        <img class="img-responsive center-block" src="./assets/images/clients/c_logo03.png" alt="">
                    </div>

                    <div class="client-image item">
                        <img class="img-responsive center-block" src="./assets/images/clients/c_logo04.png" alt="">
                    </div>

                    <div class="client-image item">
                        <img class="img-responsive center-block" src="./assets/images/clients/c_logo05.png" alt="">
                    </div>

                    <div class="client-image item">
                        <img class="img-responsive center-block" src="./assets/images/clients/c_logo06.png" alt="">
                    </div>

                    <div class="client-image item">
                        <img class="img-responsive center-block" src="./assets/images/clients/c_logo02.png" alt="">
                    </div>

                    <div class="client-image item">
                        <img class="img-responsive center-block" src="./assets/images/clients/c_logo03.png" alt="">
                    </div>

                    <div class="client-image item">
                        <img class="img-responsive center-block" src="./assets/images/clients/c_logo04.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Clients -->
    <!-- Subscribe -->
    <section id="subscribe" class="section subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="subscribe-text">
                        <h2>Subscribe</h2>
                        <span>to our weekly newsletter</span>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6">
                    <form class="subscribe-form" id="subscription-form">

                        <div class="input-group">
                            <label class="sr-only" for="subscriber-email">Email address</label>
                            <input name="email" type="email" id="subscriber-email" class="form-control" placeholder="Enter your email address" required>
                            <span class="input-group-addon">
                                <input id="subscribe-button" type="submit" class="btn btn-default" value="Join">
                            </span>
                        </div><!--/input-grpup-->

                    </form>

                    <!-- SUCCESS OR ERROR MESSAGES -->
                    <div id="subscription-response"></div>

                    <p class="spam-text">* We will never spam you</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe -->

    <!-- Footer widgets -->
    <section id="footer-widgets" class="section footer-widgets dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="content-wrap widget-text">
                        <h4>About Practice Tab</h4>
                        <p>With practicetab, generate more revenue through customizable online health store, simple Marketing, Social Media Integration and Practitioner Profile Page</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="content-wrap widget-contact">
                        <h4>Contact info</h4>
                        <ul>
                            <li>
                                <i class="ion-home"></i> 13005 Greenville California.
                            </li>
                            <li>
                                <i class="ion-android-call"></i> (303) 674-7750
                            </li>
                            <li>
                                <i class="ion-email"></i> info@yoursite.com
                            </li>
                            <li>
                                <i class="ion-ios-location"></i> Map and Direction
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="content-wrap widget-recent-posts">
                        <h4>Recent Posts</h4>
                        <ul>
                            <li>
                                <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                                by <a href="#" class="author">Jhon Smith</a>
                            </li>
                            <li>
                                <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                                by <a href="#" class="author">Jhon Smith</a>
                            </li>
                            <li>
                                <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                                by <a href="#" class="author">Jhon Smith</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="content-wrap widget-gallery">
                        <h4>Photo Gallery</h4>
                        <div class="lightbox-gallery">
                            <a href="assets/images/work/01.jpg">
                                <img src="assets/images/work/01.jpg" alt=""/>
                            </a>
                            <a href="assets/images/work/02.jpg">
                                <img src="assets/images/work/02.jpg" alt=""/>
                            </a>
                            <a href="assets/images/work/03.jpg">
                                <img src="assets/images/work/03.jpg" alt=""/>
                            </a>
                            <a href="assets/images/work/04.jpg">
                                <img src="assets/images/work/04.jpg" alt=""/>
                            </a>
                            <a href="assets/images/work/05.jpg">
                                <img src="assets/images/work/05.jpg" alt=""/>
                            </a>
                            <a href="assets/images/work/06.jpg">
                                <img src="assets/images/work/06.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer widgets -->

</div>

<script type="text/javascript-lazy">
$(document).ready(function () {
    //Client Carousel
    $("#client-carousel").owlCarousel({
        items: 6,
        itemsDesktopSmall: 4,
        itemsTablet: 4,
        itemsMobile: 2,
        autoPlay: true
    });
});
</script>
