<nav id="fixedTopNav" class="navbar navbar-fixed-top main-navigation" itemscope role="navigation">
    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="ion-drag"></span>
            </button>

            <!-- Logo -->
            <div class="navbar-brand" itemscope itemtype="https://schema.org/Organization">
                <span itemprop="name" class="sr-only">link Name</span>
                <pt-logo></pt-logo>
            </div>
            <!-- /Logo -->

        </div><!-- /.navbar-header -->

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav navbar-right" role="menu">

                <li>
                    <a href="/"><span>Home</span></a>
                </li>

                <li>
                    <a href="/products"><span>Pricing</span></a>
                </li>

                <li>
                    <a href="/">Company</a>
                </li>

                <li>
                    <a href="/"><span>Contact</span></a>
                </li>

            </ul>
        </div>
        <!-- /Navigation Links -->

    </div><!-- /.container -->
</nav>