<header id="header" class="home-parallax home-fade dark-bg header-inner">
    <div class="color-overlay"></div>
    <div class="container">
        <h1>Pricing</h1>
        <div class="breadcrumb">
            <a href="#">Home</a> <i class="fa fa-angle-double-right"></i> <a href="#">Pricing</a>

        </div>
    </div>
</header>
<!-- Pricing -->
<section id="pricing" class="section pricing">
    <div class="container">

        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="price-box">
                        <h3>Basic</h3>
                        <div class="price-info">
                            <div class="price"><sup>$</sup>199</div>
                            <ul>
                                <li>Up to 5 pages</li>
                                <li>1 year hosting</li>
                                <li>3 months support</li>
                                <li class="disabled">SEO</li>
                                <li class="disabled">Secrity &amp; Backup</li>
                                <li class="disabled">24/7 Support</li>
                            </ul>
                        </div>

                        <a href="#" class="btn btn-default">Get Started</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="price-box">
                        <h3>Standard</h3>
                        <div class="price-info">
                            <div class="price"><sup>$</sup>499</div>

                            <ul>
                                <li>Up to 5 pages</li>
                                <li>1 year hosting</li>
                                <li>3 months support</li>
                                <li>SEO</li>
                                <li class="disabled">Secrity &amp; Backup</li>
                                <li class="disabled">24/7 Support</li>
                            </ul>
                        </div>

                        <a href="#" class="btn btn-default">Get Started</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="price-box featured">
                        <h3>Premium</h3>
                        <div class="price-info">
                            <div class="price"><sup>$</sup>799</div>

                            <ul>
                                <li>Up to 5 pages</li>
                                <li>1 year hosting</li>
                                <li>3 months support</li>
                                <li>SEO</li>
                                <li>Secrity &amp; Backup</li>
                                <li class="disabled">24/7 Support</li>
                            </ul>
                        </div>

                        <a href="#" class="btn btn-default">Get Started</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="price-box last">
                        <h3>Ultimate</h3>
                        <div class="price-info">
                            <div class="price"><sup>$</sup>999</div>

                            <ul>
                                <li>Up to 5 pages</li>
                                <li>1 year hosting</li>
                                <li>3 months support</li>
                                <li>SEO</li>
                                <li>Secrity &amp; Backup</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                        <a href="#" class="btn btn-default">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing -->
<!-- Clients -->
<div id="clients" class="section clients overlay-1">
    <div class="container">
        <div class="section-content">
            <div id="client-carousel" class="owl-carousel">

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo01.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo02.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo03.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo04.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo05.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo06.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo02.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo03.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo04.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clients -->
<!-- Service -->
<section id="services" class="section services">
    <div class="container">

        <!---->
        <header class="section-heading">
            <h2>Our Services</h2>
            <span>We plan, design, build and market high quality websites</span>
        </header>
        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-albums-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Responsive Design</h4>
                            <p class="text-center">Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.</p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-americanfootball-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Brand Identity</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-game-controller-b-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Game Development</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->

            <div class="row secondrow">
                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-lightbulb-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Creative Theme</h4>
                            <p class="text-center">Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.</p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-pie-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Making Stretagy</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service last">
                        <div class="service-icon text-center">
                            <span class="ion-ios-cart-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Business Solution</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- Service -->
<!-- Call To Action -->
<div id="cta-1" class="cta-1">
    <div class="container">
        <div class="call-to-action">
            <div class="cta-text">Are you excited to start your project?</div>
            <a class="btn btn-default-o" href="#">Get Started</a>
        </div>
    </div><!-- container -->
</div>
<!-- /Call To Action -->

<!-- Footer widgets -->
<section id="footer-widgets" class="section footer-widgets dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-text">
                    <h4>About the reign</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eius libero nihil. Fugiat ipsum officia reprehenderit rerum saepe. Assumenda distinctio, voluptatibus. At consectetur cumque enim error laudantium mollitia obcaecati!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-contact">
                    <h4>Contact info</h4>
                    <ul>
                        <li>
                            <i class="ion-home"></i> 13005 Greenville California.
                        </li>
                        <li>
                            <i class="ion-android-call"></i> (303) 674-7750
                        </li>
                        <li>
                            <i class="ion-email"></i> info@yoursite.com
                        </li>
                        <li>
                            <i class="ion-ios-location"></i> Map and Direction
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-recent-posts">
                    <h4>Recent Posts</h4>
                    <ul>
                        <li>
                            <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                            by <a href="#" class="author">Jhon Smith</a>
                        </li>
                        <li>
                            <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                            by <a href="#" class="author">Jhon Smith</a>
                        </li>
                        <li>
                            <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                            by <a href="#" class="author">Jhon Smith</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-gallery">
                    <h4>Photo Gallery</h4>
                    <div class="lightbox-gallery">
                        <a href="assets/images/work/01.jpg">
                            <img src="assets/images/work/01.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/02.jpg">
                            <img src="assets/images/work/02.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/03.jpg">
                            <img src="assets/images/work/03.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/04.jpg">
                            <img src="assets/images/work/04.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/05.jpg">
                            <img src="assets/images/work/05.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/06.jpg">
                            <img src="assets/images/work/06.jpg" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer widgets -->