<header id="header" class="home-parallax home-fade dark-bg header-inner">
    <div class="color-overlay"></div>
    <div class="container">
        <h1>Pricing</h1>
        <div class="breadcrumb">
            <a href="/">Home</a> <i class="fa fa-angle-double-right"></i> <a href="#">Pricing</a>

        </div>
    </div>
</header>
<!-- Pricing -->
<section id="pricing" class="section pricing">
    <div class="container">

        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-sm-6" data-ng-click="vm.isSelected()">
                    <div class="price-box">
                        <h3>Free</h3>
                        <div class="price-info">
                            <div class="price"><sup>$</sup>0</div>
                            <ul>
                                <li>Up to 5 pages</li>
                                <li>1 year hosting</li>
                                <li>3 months support</li>
                                <li class="disabled">SEO</li>
                                <li class="disabled">Secrity &amp; Backup</li>
                                <li class="disabled">24/7 Support</li>
                            </ul>
                        </div>
                        <a class="btn btn-default" data-toggle="modal" data-target="#freeCapture" data-backdrop="static" data-keyboard="false">
                            Get Started
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="price-box last">
                        <h3>Premium</h3>
                        <div class="price-info">
                            <div class="price"><sup>$</sup>59.99</div>

                            <ul>
                                <li>Up to 5 pages</li>
                                <li>1 year hosting</li>
                                <li>3 months support</li>
                                <li>SEO</li>
                                <li>Secrity &amp; Backup</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                        <a class="btn btn-default" data-toggle="modal" data-target="#paymentCapture" data-backdrop="static" data-keyboard="false">
                           Get Started
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing -->
<!-- Clients -->
<div id="clients" class="section clients overlay-1">
    <div class="container">
        <div class="section-content">
            <div id="client-carousel" class="owl-carousel">

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo01.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo02.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo03.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo04.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo05.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo06.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo02.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo03.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo04.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clients -->
<!-- Service -->
<section id="services" class="section services">
    <div class="container">

        <!---->
        <header class="section-heading">
            <h2>Our Services</h2>
            <span>We plan, design, build and market high quality websites</span>
        </header>
        <!---->

        <div class="section-content">
            <div class="row">
                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-albums-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Responsive Design</h4>
                            <p class="text-center">Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.</p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-americanfootball-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Brand Identity</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-game-controller-b-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Game Development</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->

            <div class="row secondrow">
                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-lightbulb-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Creative Theme</h4>
                            <p class="text-center">Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.</p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service">
                        <div class="service-icon text-center">
                            <span class="ion-ios-pie-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Making Stretagy</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->

                <div class="col-sm-4">

                    <!-- service -->
                    <div class="service last">
                        <div class="service-icon text-center">
                            <span class="ion-ios-cart-outline"></span>
                        </div>
                        <div class="about-service">
                            <h4 class="text-center">Business Solution</h4>
                            <p class="text-center">
                                Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
                            </p>
                        </div>
                    </div>

                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- section-content -->
    </div><!-- container -->
</section>
<!-- Service -->
<!-- Call To Action -->
<div id="cta-1" class="cta-1">
    <div class="container">
        <div class="call-to-action">
            <div class="cta-text">Are you excited to start your project?</div>
            <a class="btn btn-default-o" data-toggle="modal" data-target="#freeCapture" data-backdrop="static" data-keyboard="false">
                Get Started
            </a>
        </div>
    </div><!-- container -->
</div>
<!-- /Call To Action -->

<!-- Footer widgets -->
<section id="footer-widgets" class="section footer-widgets dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-text">
                    <h4>About the reign</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eius libero nihil. Fugiat ipsum officia reprehenderit rerum saepe. Assumenda distinctio, voluptatibus. At consectetur cumque enim error laudantium mollitia obcaecati!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-contact">
                    <h4>Contact info</h4>
                    <ul>
                        <li>
                            <i class="ion-home"></i> 13005 Greenville California.
                        </li>
                        <li>
                            <i class="ion-android-call"></i> (303) 674-7750
                        </li>
                        <li>
                            <i class="ion-email"></i> info@yoursite.com
                        </li>
                        <li>
                            <i class="ion-ios-location"></i> Map and Direction
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-recent-posts">
                    <h4>Recent Posts</h4>
                    <ul>
                        <li>
                            <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                            by <a href="#" class="author">Jhon Smith</a>
                        </li>
                        <li>
                            <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                            by <a href="#" class="author">Jhon Smith</a>
                        </li>
                        <li>
                            <a href="#" class="post-title">Lorem ipsum dolor sit amet</a>
                            by <a href="#" class="author">Jhon Smith</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-wrap widget-gallery">
                    <h4>Photo Gallery</h4>
                    <div class="lightbox-gallery">
                        <a href="assets/images/work/01.jpg">
                            <img src="assets/images/work/01.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/02.jpg">
                            <img src="assets/images/work/02.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/03.jpg">
                            <img src="assets/images/work/03.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/04.jpg">
                            <img src="assets/images/work/04.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/05.jpg">
                            <img src="assets/images/work/05.jpg" alt=""/>
                        </a>
                        <a href="assets/images/work/06.jpg">
                            <img src="assets/images/work/06.jpg" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer widgets -->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="paymentCapture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Thank you for your money</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="payName">Name</label>
                        <input type="text" class="form-control" ng-model="vm.payload.name" id="payName" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="payEmail">Email</label>
                        <input type="email" class="form-control" id="payEmail" ng-model="vm.payload.email" placeholder="Enter Email">
                    </div>

                    <div class="form-group">
                        <label for="payAddress">Street Address</label>
                        <input type="text" class="form-control" id="payAddress" ng-model="vm.payload.address" placeholder="Enter Street">
                    </div>
                    <div class="form-group">
                        <label for="payAddress2">Street Address 2</label>
                        <input type="text" class="form-control" id="payAddress2" ng-model="vm.payload.address2" placeholder="Enter Suite Number">
                    </div>
                    <div class="form-group">
                        <label for="payCity">City</label>
                        <input type="text" class="form-control" ng-model="vm.payload.city" id="payCity" placeholder="Enter City">
                    </div>
                    <div class="form-group">
                        <label for="payZip">Zip Code</label>
                        <input type="text" class="form-control" id="payZip" ng-model="vm.payload.zipCode" placeholder="Enter Zip Code">
                    </div>

                    <div class="form-group">
                        <label for="creditCard">Credit Card Number</label>
                        <input type="text" class="form-control" id="creditCard" ng-model="vm.payload.creditCardNumber" placeholder="Enter Credit Card Number">
                    </div>

                    <div class="form-group">
                        <label for="payBillingZip">Billing Zip</label>
                        <input type="text" class="form-control" id="payBillingZip" ng-model="vm.payload.billingZip" placeholder="Enter Billing Zip">
                    </div>


                    <div class="form-group">
                        <label for="payCvvCode">CVV Code</label>
                        <input type="text" class="form-control" id="payCvvCode" ng-model="vm.payload.CvvCode" placeholder="Enter CVV Code">
                    </div>

                    <div class="form-group">
                        <label for="promoCode">Promo Code</label>
                        <input type="text" class="form-control" id="promoCode" ng-model="vm.payload.promoCode" placeholder="Enter Promo Code">
                    </div>
                    <!--<div class="checkbox">-->
                    <!--<label>-->
                    <!--<input type="checkbox"> Check me out-->
                    <!--</label>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                <a type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.submitMe()">Save changes</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="freeCapture" tabindex="-1" role="dialog" aria-labelledby="anotherModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="anotherModalLabel">Thanks for nothing</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="freeName">Name</label>
                        <input type="text" class="form-control" ng-model="vm.payload.name" id="freeName" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="FreeEmail">Email</label>
                        <input type="email" class="form-control" id="FreeEmail" ng-model="vm.payload.email" placeholder="Enter Email">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                <a type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.submitMe()">Save changes</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript-lazy">
$(document).ready(function () {
    //Client Carousel
    $("#client-carousel").owlCarousel({
        items: 6,
        itemsDesktopSmall: 4,
        itemsTablet: 4,
        itemsMobile: 2,
        autoPlay: true
    });
});
</script>