$bg-base-color: #ffffff;
$bg-base-color-dark: #2c2c2c;
$content-color: #000000;
$content-color-on-dark-bg: #ffffff;

$font-family-sans-serif:  'Roboto', sans-serif;
$font-family-header:      'Barlow Semi Condensed', sans-serif;
$font-family-logo:        'Comfortaa', serif;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$body: #333;
$link: #2980B9;
$brand-primary: #E74C3C;
$brand-secondary: $gray-600;
$brand-gray: #D7DADB;
$brand-navy: #2C3E50;
$brand-blue: #2980B9;